body {
  /* height: 100vh; */
}

main {
  height: 97%;
  border: 1px solid green;
  /* display: flex; */
  justify-content: space-evenly;
  overflow-x: scroll;
  flex-direction: column;
}
.medium_img {
  width: 100px;
  border-radius: 50%;
  padding: 2px;
}
.Name_text {
  font-size: x-large;
  text-align: center;
}
.Basketball_Card {
  border: 1px solid slategray;
  width: 200px;
  margin: 10px;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 2px 2px 5px 1px goldenrod;
  border-radius: 5px;
}
div {
  display: flex;
  /* overflow-x: scroll; */
  width: fit-content;
  width: moz-fit-content;
}
